.y2309f--pageLayout{display:flex;flex-direction:column;gap:var(--hr-space-l);height:100%}
.ya9032--container{background-color:var(--hr-color-surface-100);border-radius:var(--hr-border-radius-m);padding:var(--hr-space-m)}

